<div style="width: 530px; background-color: White; font-family: arial, sans;">
  <div style="width: 98%; float: left; background-color: LightBlue; border-radius: 6px; margin: 0px 0px 10px 0px">
    <h2 class="editable" style="font-size: 30px; background-color: White; margin: 8px 8px 3px 8px; border-top-left-radius: 4px; border-top-right-radius: 4px">
	Lettre d'information</h2>
    <div style="margin: 3px 8px 8px 8px; background-color: White; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px">
      <p class="editable" style="margin: 3px 8px 8px 8px;">le&nbsp;<em>date</em>&nbsp;Edito.................. par auteur</p>
    </div>
  </div>
  <div style="width: 98%; float: left; margin: 0px 0px 10px 0px;">
    <div style="width: 38%; float: left; background-color: Blue; border-radius: 6px;">
      <div class="editable" style="background-color: White; margin: 4px; border-radius: 4px;">
        <h3 style="margin: 4px;">Nouvelles du blog</h3>
        <ul style="margin: 4px;">
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
          <li>item 4</li>
          <li>item 5</li>
        </ul>
      </div>
    </div>
    <div style="width: 58%; float: right; margin: 4px">
      Logo...
    </div>
  </div>
  <div style="width: 98%; float: left; background-color: #993399; margin: 0px 0px 10px 0px; border-radius: 6px;">
    <div class="editable" style="background-color: White; margin: 4px; border-radius: 4px;">
      <h3 style="margin: 4px;">Principal</h3>
      <ul style="margin: 4px;">
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
          <li>item 4</li>
          <li>item 5</li>
        </ul>
	</div>
  </div>
  <div style="width: 98%; float: left; margin: 0px 0px 10px 0px">
    <div style="width: 49%; float: left; background-color: #33CC33; border-radius: 6px;">
      <div class="editable" style="background-color: White; margin: 4px; border-radius: 4px;">
        <h3 style="margin:4px;">item1</h3>
        <ul style="margin:4px;">
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
          <li>item 4</li>
          <li>item 5</li>
        </ul>
      </div>
    </div>
    <div style="width: 49%; float: right; background-color: Yellow; border-radius: 6px;">
      <div class="editable" style="background-color: White; margin: 4px; border-radius: 4px;">
        <h3 style="margin:4px;">item2</h3>
        <ul style="margin:4px;">
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
          <li>item 4</li>
          <li>item 5</li>
        </ul>
      </div>
    </div>
  </div>
  <div style="width: 98%; float: left; margin: 0px 0px 10px 0px">
    <div style="width: 49%; float: left; background-color: #FF8800; border-radius: 6px;">
      <div class="editable" style="background-color: White; margin: 4px; border-radius: 4px;">
        <h3 style="margin:4px;">Comptes-Rendus</h3>
        <ul style="margin:4px;">
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
          <li>item 4</li>
          <li>item 5</li>
        </ul>
      </div>
    </div>
    <div style="width: 49%; float: right; background-color: Red; border-radius: 6px;">
      <div class="editable" style="background-color: White; margin: 4px; border-radius: 4px;">
        <h3 style="margin:4px;">Divers</h3>
        <ul style="margin:4px;">
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
          <li>item 4</li>
          <li>item 5</li>
        </ul>
      </div>
    </div>
  </div>
  <div style="width: 98%; float: left; margin: 0px 0px 10px 0px">
    <div style="width: 32%; float: left; background-color: LightGray; border-radius: 6px;">
      <div class="editable" style="background-color: White; margin: 4px; border-radius: 4px;">
        <h3 style="margin:4px;">toto</h3>
        <ul style="margin:4px;">
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
          <li>item 4</li>
          <li>item 5</li>
        </ul>
      </div>
    </div>
    <div style="width: 33%; float: left; background-color: Gray; margin: 0px 7px; border-radius: 6px;">
      <div class="editable" style="background-color: White; margin: 4px; border-radius: 4px;">
        <h3 style="margin:4px;">tutu</h3>
        <ul style="margin:4px;">
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
          <li>item 4</li>
          <li>item 5</li>
        </ul>
      </div>
    </div>
    <div style="width: 32%; float: left; background-color: Black; border-radius: 6px;">
      <div class="editable" style="background-color: White; margin: 4px; border-radius: 4px;">
        <h3 style="margin:4px;">tata</h3>
        <ul style="margin:4px;">
          <li>item 1</li>
          <li>item 2</li>
          <li>item 3</li>
          <li>item 4</li>
          <li>item 5</li>
        </ul>
      </div>
    </div>
  </div>
  <p style="margin: 1px; font-size: small"> Si vous ne pouvez pas lire ce mail, vous pouvez le consulter sur <a href="#">notre site internet</a> </p>
</div>